.register-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin: -200px 0 0 -250px;
  padding: 20px 30px;
  border: 1px solid green;
  border-radius: 3px;
}
.reg-list li{
  margin-top: 10px;
}
.reg-list li label{
  display: inline-block;
  width: 80px;
  text-align: justify;
}
.btn-box, .reg-tips{
  margin-top: 10px;
}
.btn-box button{
  padding: 0 10px;
  line-height: 24px;
}
