.login-box{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
  padding: 20px 30px;
  width: 400px;
  height: 200px;
  border: 1px solid red;
  border-radius: 4px;
}
.login-list li{
  margin-top: 10px;
}
.login-list li label{
  display: inline-block;
  width: 80px;
  text-align: justify;
}
.login-btn-box, .login-tips-box{
  margin-top: 10px;
}
.login-btn-box button{
  padding: 0 20px;
  line-height: 24px;
}
